@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scraper Application</h1>
    <p class="lead">MVC Application that allows the user to have their own account credentials and access different stocks and scrape new stocks!</p>

    <p><button class="btn-dark btn-lg">@Html.ActionLink("HTMLAgilityPack Scraper", "Index", "ParsingTable")</button></p>
    <p><button class="btn-dark btn-lg">@Html.ActionLink("RestSharp Scraper", "Index", "apiScrapeTables")</button></p>
</div>


