@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scraper Application</h1>
    <p class="lead">MVC Application that allows the user to have their own account credentials and access different stocks and scrape new stocks!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


